.home .t3-sl-1 {
  border-bottom: none;
  border-top: none;
}

.t3-sl{
  padding-bottom: 0px;
  padding-top: 0px;
}

.portfolio-item img {
  width: 100%;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {
  width: 100%;
}
.maelleImg img{
  width: 86px;
}

.list-portfolio{
    display: inline-block;
    list-style: inherit;
    margin: auto;
    text-align: left;
}
.list-portfolio li {
  display:block;
}

.navbar-default .nav li a {
  font-weight: bold !important;
}